div(class="answers")
      span=`${answers.length} Answers`
      each answer in answers
        div(class="question-body")
          div(class="question-body-c")!=answer.answer
          div(class="sidebar") 
            div(class="tickmark")
              -const url=answer.isAccepted ? "greentickmark.png" : "tickmark.png"
              img(src=`/images/${url}`, alt="not found", onclick=`updateAcceptAnswer('${questionDetails.id}','${answer.id}', this)`) 
            div(class="vote-box")
              div(class="up-arrow" onclick=`updateVote('/upVote/answers/${answer.id}',this)`)
              div(class="countName votes")
                div(class="count")
                  span=answer.votes
                  div(class="ansCount") votes
              div(class="down-arrow" onclick=`updateVote('/downVote/answers/${answer.id}',this)`)
        div(class="comments a-comments") 
              if(comments.length > 0)
                span Comments 
              each comment in answer.comments
                div(class="comment" id=`${comment.id}`)=comment.comment
                div(class="flex-row")
                  div(class="c-btns")
                    div(class="edit-btn" onclick=`makeCommentEditable(this,'${comment.id}')`) edit
                    div(class="cancel-btn hide" onclick=`makeCommentUneditable(this,'${comment.id}')`) cancel
                    div(class="save-btn hide" onclick=`saveComment(this, '${comment.id}')`) save
                  div(class="c-author")
                    span(onclick=`window.location.href='/viewProfile?id=${comment.ownerId.slice(1)}'`)=comment.username
                    span=`, ${comment.receivedAt}`
              include postComment
              +getId(answer.id)