.answers
  span=`${ansCount || 0} Answers`
  if(ansCount)
    each answer in qd.answers
      -const ansDivId = `a${answer.id}`
      .question-body(id=ansDivId)
        .editor-box.hide
          .editor-style(id=`${ansDivId}e`)
          .formFooter.edit-answer-btns
            button.cancel-btn(onclick=`makeAnswerUneditable('${ansDivId}')`) Cancel
            button.save-btn(onclick=`updateAnswer('${qd.id}','${answer.id}')`) Save
        .question-body-c!=answer.answer
        .sidebar
          .tickmark
            -const color=answer.isAccepted ? "#42B883" : "#ddd"
            include tickSvg
          .vote-box
            include votes
            +getVoteBox(answer.id, answer.votes, answer.voteDetails, 'answers')
      .footer.flex-row    
        .edit-btns.flex-row
          if(userInfo && answer.ownerId == userInfo.id)
            .edit-btn(onclick=`makeAnswerEditable(this,'${answer.id}')`) edit
            .edit-btn(onclick=`deleteAnswer('${qd.id}','${answer.id}')`) delete
        .question-title-b.flex-row.answer-author
          .avatar-div
            img.author-avatar(src=`${answer.avatar}`, alt="alt" onClick=`window.location.href='/viewProfile?id=${answer.ownerId}'`)
          div
            .author(onclick=`window.location.href='/viewProfile?id=${answer.ownerId}'`)=answer.username
            .time(time=answer.receivedAt)
      .comments.a-comments(id=`answers_${answer.id}`)
        span Comments
        include comments
        +getComments(answer.comments)
      .a-post-comment
        include postComment
        +comments_editor(answer.id,'answers').a-comments
  else 
    p No Answers
