div(class="answers")
      span=`${ansCount} Answers`
      if(ansCount)
        each answer in qd.answers
          div(class="question-body")
            div(class="question-body-c" id=`a${answer.id}_0`)!=answer.answer
            div(class="sidebar") 
              div(class="tickmark")
                -const color=answer.isAccepted ? "#42B883" : "#ddd"
                svg(width="60" height="50" viewBox="0 0 319 342" fill="none" xmlns="http://www.w3.org/2000/svg" onclick=`updateAcceptAnswer('${qd.ownerId}','${answer.id}', this)`)
                  path(d="M26.3252 154.283L1.32516 210.283C-1.07484 217.883 0.325164 224.117 1.32516 226.283C55.3252 261.283 94.8252 332.283 96.3252 337.783C97.5252 342.183 106.492 341.283 110.825 340.283C133.825 330.283 150.325 323.283 149.325 319.283C202.825 122.783 299.325 47.7834 304.825 43.7834C309.225 40.5834 309.992 31.7834 309.825 27.7834C310.625 16.1834 315.825 6.95005 318.325 3.78339L318.825 3.28339V1.78339V0.283392H317.825C262.825 -7.7166 157.325 156.283 155.825 160.283C154.625 163.483 126.325 214.617 112.325 239.783C106.725 224.983 67.9918 182.617 49.3252 163.283L47.3252 158.283C43.4918 150.95 33.9252 139.883 26.3252 154.283Z" fill=`${color}`)
              div(class="vote-box")
                div(class="up-arrow" onclick=`updateVote('/upVote/answers/${answer.id}',this)`)
                div(class="countName votes")
                  div(class="count")
                    span=answer.vote || 0
                    div(class="ansCount") votes
                div(class="down-arrow" onclick=`updateVote('/downVote/answers/${answer.id}',this)`)
          div(class="flex-row")      
            div(class="edit-btns")
              if(answer.ownerId == userInfo.id)
                div(class="edit-btn" onclick=`makeAnswerEditable(this,'a${answer.id}_0','${answer.id}')`) edit
            div(class="question-title-b answer-author")
                  div(class="avatar-div")
                    img(class="author-avatar" src=`${answer.avatar}`, alt="alt" onClick=`window.location.href='/viewProfile?id=${answer.ownerId}'`)
                  div
                    div(class="author" onclick=`window.location.href='/viewProfile?id=${answer.ownerId}'`)=answer.username
                    div(class="time" time=`${answer.receivedAt}`)
          div(class="comments a-comments") 
            include comments
            +getComments(answer.comments)
            include postComment
            +getId(answer.id,0)