.answers
  span=ansCount || 0
    | &nbsp; Answers
  if(ansCount)
    each answer in qd.answers
      .question-body
        .question-body-c(id=`a${answer.id}_0`)!=answer.answer
        .sidebar 
          .tickmark
              -const color=answer.isAccepted ? "#42B883" : "#ddd"
              include tickSvg
          .vote-box
            .up-arrow(onclick=`updateVote('/upVote','answers','${answer.id}',this)`)
            .countName.votes
              .count
                span=(answer.votes || 0)
                .ansCount votes
            .down-arrow(onclick=`updateVote('/downVote','answers','${answer.id}',this)`)
      .flex-row      
        .edit-btns
          if(userInfo && answer.ownerId == userInfo.id)
            .edit-btn(onclick=`makeAnswerEditable(this,'a${answer.id}_0','${answer.id}')`) edit
        .question-title-b.answer-author
          .avatar-div
            img.author-avatar(src=`${answer.avatar}`, alt="alt" onClick=`window.location.href='/viewProfile?id=${answer.ownerId}'`)
          div
            .author(onclick=`window.location.href='/viewProfile?id=${answer.ownerId}'`)=answer.username
            .time(time=answer.receivedAt)
      .comments.a-comments 
        span Comments
        include comments
        +getComments(answer.comments)
        include postComment
        +comments_editor(answer.id,'answers')
