mixin getComments(comments)
  each Comment in comments
    -const {id,ownerId,responseId,comment,type,receivedAt,username} = Comment
    div(id=`c${id}`)
      .comment=comment
      .flex-row.border
        .edit-btns
          if(userInfo && userInfo.id==ownerId)
            .edit-btn(onclick=`makeCommentEditable(this,'c${id}')`) edit
            .cancel-btn.hide(onclick=`makeCommentUneditable(this,'c${id}')`) cancel
            .save-btn.hide(onclick=`updateComment('${id}')`) save
        .c-author
          span(onclick=`window.location.href='/viewProfile?id=${ownerId}'`)=username
          span(class='a-comment-time' time=`${receivedAt}`) ,&nbsp;