mixin getComments(comments)
  each Comment in comments
    -const {id,ownerId,responseId,comment,type,receivedAt,username} = Comment
    div(id=`c${id}`)
      .comment=comment
      .footer.flex-row.border
        .edit-btns.flex-row
          if(userInfo && userInfo.id==ownerId)
            .edit-btn(onclick=`makeCommentEditable(this,'c${id}')`) edit
            .edit-btn(onclick=`deleteComment('${id}')`) delete
            .cancel-btn.hide(onclick=`makeCommentUnEditable(this,'c${id}')`) cancel
            .save-btn.hide(onclick=`updateComment('${id}')`) save
        .c-author
          span(onclick=`window.location.href='/viewProfile?id=${ownerId}'`)=username
          span.a-comment-time(time=`${receivedAt}`) ,&nbsp;