mixin comments_editor(resId,table)
  -const mainId= `m${resId}_${table}`
  .add-comment(onclick=`toggleBox(this, ${userInfo && userInfo.id})`)
    span add comment
    span.popUp.hide &nbsp;&nbsp;*please login before add a comment
  .hide.new_comment_box(id=mainId)
    input(type="text",placeholder="Enter comment...")
    .formFooter
      button(onclick=`postComment('${mainId}','${qd.id}','${resId}','${table}')`) Post comment
      .popUp.hide(id=id=mainId+'p')