style
  include ../public/css/postAnswer.css
  include ../public/css/postComment.css
mixin getId(resId)
  p(class="add-comment" onclick=`toggleCommentBox('.form-${resId}')`) add comment
  form(class=`form-${resId} hide` action=`/postComment/${questionDetails.id}/${resId}` method="POST" onSubmit=`return checkForm(${userId}, this)`)
    input(name="comment", type="text",placeholder="Enter comment..." minlength='10' maxlength='180' required)
    div(id="formFooter")
      button Post comment
      div(class="popUp hide") *please Login before submit