doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Inquire - Profile
    link(rel="stylesheet", href="/styles/titlebar.css")
    link(rel="stylesheet", href="/styles/menubar.css")
    link(rel="stylesheet", href="/styles/home.css")
    link(rel="stylesheet", href="/styles/profilePage.css")
    script(src="/js/home.js")
  body( onload=`highlightMenuItem('/viewProfile?id=${details && details.id}')`)
    include titleBar
    include menuBar
    .container
      if(!details) 
        div no user found
      else  
        .topBox
          .bigAvatar
            img(src=`${details.avatar}`, alt="alt")
          .details
            .username=details.username
            .label Name: 
              span=details.name
            .label Email: 
              span=details.email
            .label Company: 
              span=details.company
            h2 Bio
            .bio=details.bio
