html
  head
    title Inquire
    link(rel="stylesheet", href="/styles/titlebar.css")
    link(rel="stylesheet", href="/styles/home.css")
    link(rel="stylesheet", href="/styles/postQuestion.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/hopscotch.min.css")
    link(rel="stylesheet", href="https://cdn.quilljs.com/1.3.6/quill.snow.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js")
    script(src="https://cdn.quilljs.com/1.3.6/quill.js")
    script(src="https://cdn.quilljs.com/1.3.6/quill.min.js")
    script(src="/js/editor.js")
    script(src="/js/postQuestion.js")
  body()
    include titleBar
    mixin getPostQuestion(listener, location, title, tags, body)
      #container.flex-column
        p.pageHeading Post Your Question
        .editor-box
          .blind#title-error Please enter the title atleast of 20 characters
          label Title :
          input(type="text" name="title" placeholder="Enter title ..." autofocus value=`${title ? title : ''}`)
          .blind#body-error Please enter the body atleast of 30 characters
          label Body :
          #editor!=body
          .blind#tag-error Please enter the tags atleast of 2 tags
          label Tags :
          .tags-list.flex-row
            span.tags
              if(tags)
                each tag in tags
                  .tag
                    span=tag.title
                    span(class="cross-btn" onclick="removeTag(this)") X
            input(type="text" name="tags" placeholder="Enter tags ..." onkeyup="addTag(this)")
          .tag-suggestions
            each tag in allTags
              span.tag(onclick=`selectTag('${tag.title}')`)=tag.title
          #formFooter.flex-row
            button(onclick=`postQuestion('${listener}')`) Submit
            a.flex-column(href=location) Cancel