mixin getQuestions(header)
  script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript")
  .container
    .container-h
      .con-header-title=header
      if userInfo
        button.askBtn(onClick="window.location.href='/askQuestion'") Ask Question
    .container-b
      if(questions.length > 0)
        each question in questions
          -const {id,ownerId,title,body,receivedAt,username,ansCount,isAnsAccepted,tags} = question
          .question
            -const isAnyAnsAccepted = isAnsAccepted.some(a=>a.isAnsAccepted);
            -let className = ansCount ? "countName-a":"countName"
            -className = isAnyAnsAccepted ? "countName-ac" : className
            div(class=className)
              .count=ansCount || 0
                .ansCount answers
            .question-details
              .title(onClick=`window.location.href='/question/${id}'`)=title
              .tags
                each tag in tags
                  .tag=tag.title
              .q-author
                span.q-author-name(onclick=`window.location.href='/viewProfile?id=${ownerId}'`)=username
                span.date-time(time=receivedAt) ,&nbsp;
      else 
        p No questions