script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript")
div(class="container")
  div(class="container-h")
    div(class="con-header-title") All Questions
    if userId
      button(class="askBtn" onClick="window.location.href='/askQuestion'") Ask Question
  div(class="container-b")
    if(questions.length > 0)
      each question in questions
        div(class="question")
          -const className=question.anyAnswerAccepted ? "countName-ac" : question.answers > 0? "countName-a":"countName"
          div(class=`${className}`)
            div(class="count")=`${question.answers}`
              div(class="ansCount") answers
          div(class="ticksymbol hide")
              -const url=question.isAccepted ? "greentickmark.png" : "tickmark.png"
              img(src=`/images/${url}`, alt="not found") 
          div
            div(class="title" onClick=`window.location.href='/question/${question.id}'`)=question.title
            div(class="tags")
              each tag in question.tags
                div(class="tag")=tag
            div(class='q-author')
              span(class="q-author-name" onclick=`window.location.href='/viewProfile?id=${question.ownerId.slice('1')}'`)=`${question.ownerName}, `
              span(class="date-time" time=`${question.receivedAt}`)
    else 
      p No questions