mixin getVoteBox(resId, voteCount, voteDetails, type)
  .up-arrow(onclick=`updateVote('/upVote','${type}','${resId}',this)` class=voteDetails.voteType==1?'highlightUpArrow':'')
  .countName.votes.flex-column
    .count
      span=voteCount||0
      .ansCount votes
  .down-arrow(onclick=`updateVote('/downVote','${type}','${resId}',this)` class=voteDetails.voteType==-1?'highlightDownArrow':'')